<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>editar Materia Prima</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantillaMateriaPrima :: headerMatPri"></header>
        <br/>
        <section th:replace="layout/editarMatPri :: editarMatPri"></section>
        <footer th:replace="layout/plantillaMateriaPrima :: footerMatPri"></footer>
    </body>
</html>
