<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Modificar Orden de Trabajo</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantillaOrdTra :: headerOrdenTrabajo"></header>
        <section th:replace="layout/editarOrdenTrabajo :: editarOrdenTrabajo"></section>
        <footer th:replace="layout/plantillaOrdTra :: footerOrdenTrabajo"></footer>
    </body>
</html>
